.site-wrapper {
    margin: auto;
    padding: 0 0;
    width: 86%;
}

.container {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.second-container {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    width: 100%;
}